extends ../layouts/common.pug
block content
	h1 Users
	a(href='/users/create') Create new
	form(action='/users/search', method='GET', class="d-flex")
		input(class="form-control",type='text',name='q',value=key)
		button(class="btn btn-danger ml-2") Search
	ul 
		each user in users 
			li
				span=user.name
				span &nbsp;
				a(href='/users/'+user.id) View